body {
    display: flex;
}

.navbar {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid black;
}

.navbar .picture {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: lightseagreen;
}

.navbar .pages {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.navbar .pages a {
    margin-top: 10px;
}

.navbar .pages a.selected {
    font-weight: bold;
}

.navbar .logout {
    width: 200px;
    margin-top: auto;
    margin-bottom: 1em;
}

.middle-bar {
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-bar .tree {
    overflow-y: auto;
    padding-right: 1em;
}

.tree .case {
    margin: 1em;
}

.tree .case .box {
    margin-left: 1em;
    cursor: pointer;
}

.middle-bar .tree .case .box a {
    margin-left: 1em;
    display: block;
    white-space: nowrap;
}

.middle-bar .tree .case .box a:hover {
    font-weight: lighter;
}

.middle-bar .tree .case .box a.selected {
    font-weight: bold;
}

.middle-bar .tree .case .box.collapsed a {
    display: none;
}

.middle-bar .add {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
