.navbar {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid black;
}

.navbar .picture {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: lightseagreen;
}

.navbar .pages {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.navbar .pages a {
    margin-top: 10px;
}

.navbar .pages a.selected {
    font-weight: bold;
}

.navbar .logout {
    width: 200px;
    margin-top: auto;
    margin-bottom: 1em;
}
